### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [50]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [51]:
# Use .unique() to get array of unique names, use length on the array to get total count
unique_players = len(purchase_data["SN"].unique())
# Create new data frame that contains the result and output it
players_count = pd.DataFrame({"Total Players": [unique_players]})
players_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
# Count unique items (based on Item ID)
unique_items = len(purchase_data["Item ID"].unique())
# Use .mean() data function on Price column in purchase_data data frame, format as dollar amount
average_price = purchase_data["Price"].mean()
formatted_average = "${:,.2f}".format(average_price)
# Use .count() on Purchase ID column to count all the purchases (rows)
total_purchases = purchase_data["Purchase ID"].count()
# Use .sum() data function on Price column in purchase_data data frame, format as dollar amount
total_revenue = purchase_data["Price"].sum()
formatted_revenue = "${:,.2f}".format(total_revenue)
# Put results into a summary data frame and output result
summary_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [formatted_average],
    "Number of Purchases": [total_purchases],
    "Total Revenue": [formatted_revenue]
})
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [53]:
# Find unique players (by dropping duplicates of SN)
unique_df = purchase_data.drop_duplicates(subset=['SN'])
# Count genders of players and store into demographic dataframe using .to_frame and rename column
gender_demo_df = unique_df['Gender'].value_counts().rename_axis('Gender').to_frame('Total Count')
# Create new column for percentage, format column using map method
gender_demo_df['Percentage of Players'] = gender_demo_df['Total Count'] / unique_df['Gender'].count() * 100
gender_demo_df['Percentage of Players'] = gender_demo_df['Percentage of Players'].map("{:.2f}%".format)
gender_demo_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [93]:
# Group by gender from original dataframe, store into new dataframe to run analysis
gender_df = purchase_data.groupby(['Gender'])
# Get count of total transactions made by players
genders_count = gender_df['SN'].count()
# Get mean of prices for all purchases, map to format in dollar amounts
genders_avg_price = gender_df['Price'].mean().map('${:,.2f}'.format)
# Find total of all purchases, map to format in dollar amounts
genders_total_purchase = gender_df['Price'].sum().map('${:,.2f}'.format)
# Within each gender, find the average purchases made by each UNIQUE player
# TODO: Implement Avg Total Purchase per Person
# Concatenate series into summary data frame
gender_analysis = pd.concat([genders_count, genders_avg_price, genders_total_purchase], axis=1)
# Rename columns appropriately
gender_analysis.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [55]:
# Establish bins, created initial array using numpy from 9.9 to 44.9 with steps of 5
import numpy as np
age_bins = np.arange(9.9, 44.9, 5)
# Append max age value from data frame into bin
age_bins = np.append(age_bins, purchase_data['Age'].max())
# Insert min age value from data frame into bin
age_bins = np.insert(age_bins, 0, purchase_data['Age'].min())
# Create labels for bins (labels are always 1 fewer than bins)
age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
# Count all distinct categories of ages of unique players from earlier unique_df after applying labels to ages
age_totals = pd.cut(unique_df['Age'], age_bins, labels=age_labels, include_lowest=True).value_counts()
# Create initial data frame with earlier labels as index
age_demo_df = pd.DataFrame({'Age Bracket': age_labels})
age_demo_df = age_demo_df.set_index(['Age Bracket'])
# Create new column in data frame with the count of player's age categories
age_demo_df['Total Counts'] = age_totals
# Calculate percentage of players in each age group (utilizing unique_players from second cell) and create new column,
# format result to percent to two decimal places
age_demo_df['Percentage of Players'] = (age_demo_df['Total Counts'] / unique_players * 100).map('{:.2f}%'.format)
age_demo_df

             Total Counts Percentage of Players
Age Bracket
<10                    17                 2.95%
10-14                  22                 3.82%
15-19                 107                18.58%
20-24                 258                44.79%
25-29                  77                13.37%
30-34                  52                 9.03%
35-39                  31                 5.38%
40+                    12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [56]:
# Attach age bracket information into purchase_data
purchase_data['Age Bracket'] = pd.cut(purchase_data['Age'], age_bins, labels=age_labels, include_lowest=True)
# Group by age brackets
age_df = purchase_data.groupby(['Age Bracket'])
# Get count of total transactions made by players
age_count = age_df['SN'].count()
# Get mean of prices for all purchases, map to format in dollar amounts
age_avg_price = age_df['Price'].mean().map('${:,.2f}'.format)
# Find total of all purchases, map to format in dollar amounts
age_total_purchase = age_df['Price'].sum().map('${:,.2f}'.format)
# TODO: Implement Avg Total Purchase per Person

# Concatenate series into summary data frame
age_analysis = pd.concat([age_count, age_avg_price, age_total_purchase], axis=1)
# Rename columns appropriately
age_analysis.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
age_analysis

             Purchase Count Average Purchase Price Total Purchase Value
Age Bracket
<10                      23                  $3.35               $77.13
10-14                    28                  $2.96               $82.78
15-19                   136                  $3.04              $412.89
20-24                   365                  $3.05            $1,114.06
25-29                   101                  $2.90              $293.00
30-34                    73                  $2.93              $214.00
35-39                    41                  $3.60              $147.67
40+                      13                  $2.94               $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [58]:
# Group by player names
players_df = purchase_data.groupby(['SN'])
# Get count of all transactions made by each player
top_count = players_df['Purchase ID'].count()
# Get mean of those transactions
top_avg_price = players_df['Price'].mean()
# Get total purchases by each player
top_total_purchase = players_df['Price'].sum()
# Concatenate into summary table
top_analysis = pd.concat([top_count, top_avg_price, top_total_purchase], axis=1)
# Rename columns appropriately
top_analysis.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
# Sort based on Total Purchase Value
top_analysis = top_analysis.sort_values(['Total Purchase Value'], ascending=False)
# Format columns after sorting on numerical values
top_analysis['Average Purchase Price'] = top_analysis['Average Purchase Price'].map('${:,.2f}'.format)
top_analysis['Total Purchase Value'] = top_analysis['Total Purchase Value'].map('${:,.2f}'.format)
# head() displays first 5 results by default
top_analysis.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame